/* ============ Configurações Gerais =========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #00856f;

  --light-color: #dce9e2;

  --light-color2: #f7f9f9;

  --brand-beige: #fffaf1;

  --brand-button-hover: #00453a;

  --headline: #212529;
  --paragraph: #495057;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'DM Sans', sans-serif;

  overflow: overlay;

  background-color: var(--light-color);
}
/* ======== Classes Gerais ================ */
.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
section {
  padding-block: 10rem;
}
/* Alteração global das h4 e h2 de todas as section header */
section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;

  text-transform: uppercase;
  color: var(--primary-color);

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}
section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}
/* ======== Custom Colors ================ */
#services .card circle {
  fill: var(--light-color);
}
#backToTopButton circle {
  fill: var(--primary-color);
}
#contact li path {
  stroke: var(--primary-color);
}
/* #Navigation .logo {
  color: white;
} */
/* Color of Menu */
#navigation button.open-menu path {
  stroke: var(--primary-color);
}
#navigation.scroll button.open-menu path {
  stroke: white;
  color: white;
}
body.menu-expanded#navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
  color: white;
}
/* ============ Navigation =========== */
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--primary-color);

  opacity: 0.9;
}
/* nav.scroll .logo path {
  fill: #ffffff;
} */
/* nav.scroll button path {
  stroke: white;
} */
nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ============ Menu-Expanded =========== */
.menu {
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0.9;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;

  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 500ms;
  transform: translateY(0%);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;

  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin: 4.8rem auto 8rem auto;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);

  transition: 400ms;
}
.menu .button:hover {
  background-color: var(--brand-button-hover);
  color: white;

  filter: brightness(1.1);
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 100;
}
body.menu-expanded .logo path {
  fill: white;
}
body.menu-expanded button path {
  stroke: white;
}

/* ============ Header =========== */
#home ::before {
  content: '';
  display: block;
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--light-color2);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home {
  margin-top: calc(4.1rem + var(--nav-height));
}
#home h1 {
  font-size: 3rem;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 2.4rem;
}
#home h4 {
  color: var(--primary-color);
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 700;

  margin-bottom: 1.6rem;
}
#home p {
  font-size: 1.8rem;
  color: var(--paragraph);
  font-weight: 400;

  margin-bottom: 3.2rem;
}
#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

/* Btn whatsapp */
.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  color: #ffffff;
  background: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;

  border-radius: 4rem;
  border: none;

  padding: 1.6rem 3.2rem;
  margin: auto;
  margin-bottom: 6rem;

  gap: 1.6rem;
  text-transform: uppercase;
  transition: background 200ms;
}
.btn-whatsapp a {
  color: var(--light-color);
}
.btn-whatsapp:hover {
  background-color: var(--brand-button-hover);
}

article.stats {
  width: 32.7rem;

  padding-block: 4rem;

  margin-inline: auto;

  background: var(--brand-beige);
  border: 1px solid var(--light-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}
#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}
#home .stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
}

/* ============ Services =========== */
#services header h2 {
  margin-bottom: 6rem;
}
#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--light-color);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}
/* ============ About =========== */
#about {
  text-align: left;
  background-color: var(--brand-beige);
}
#about header h2 {
  margin-bottom: 2.4rem;
}
#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}
/* ============ Contact =========== */
#contact {
  text-align: left;
}
#contact header {
  margin-bottom: 3.2rem;
}
#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
/* Btn-whatsapp contact */
#contact .btn-whatsapp {
  margin-top: 1.2rem;
  margin-left: 0;
  margin-right: 0;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;
}
footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}
footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}
footer .logo path {
  fill: white;
}
footer p {
  color: var(--brand-beige);
  line-height: 2;
  margin-bottom: 3.2rem;
}
footer .social-links {
  text-align: left;
  justify-content: flex-start;
}
/* ============ Back to Top =========== */
#backToTopButton {
  position: fixed;
  bottom: 3rem;
  right: 2.9rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}
